<div class="panel-heading">Datos del cliente</div>
<div class="panel-body">
  <form class="form-horizontal no-margin">
    <div class="form-group">
      <label class="col-lg-2 control-label">R.F.C.</label>
      <div class="col-lg-10">
        <input id="rfc" class="form-control" type="text" placeholder="Registro Federal de Contribuyentes a 12 ó 13 caracteres">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input id="nombre" class="form-control" type="text" placeholder="Nombre(s) del cliente">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Apellido paterno</label>
      <div class="col-lg-10">
        <input id="apellido-paterno" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Apellido materno</label>
      <div class="col-lg-10">
        <input id="apellido-materno" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Código postal</label>
      <div class="col-lg-10">
        <input id="codigo-postal" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Estado</label>
      <div class="col-lg-10">
        <input id="estado" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Ciudad</label>
      <div class="col-lg-10">
        <input id="ciudad" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Colonia</label>
      <div class="col-lg-10">
        <input id="colonia" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Número de cliente</label>
      <div class="col-lg-10">
        <input id="numero-cliente" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Cuenta contable</label>
      <div class="col-lg-10">
        <input id="cuenta-contable" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-success btn-sm">Guardar</button>
      </div>
    </div>
  </form>
</div>
