<div class="padding-md" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
      <div class="h5">Oops, no se encontró la página que buscaba</div>
      <h1 class="m-top-none error-heading">404</h1>

      <h4>Regrese a la lista de clientes</h4>
      <div>¿Qué pudo haber pasado?</div>
      <div>Alguien pudo haber eliminado lo que buscaba</div>
      <div class="m-bottom-md">El recurso ya no está disponible</div>

      <a class="btn btn-success m-bottom-sm" href="/app/clientes/">
        <i class="fa fa-home"></i> Regresar a la lista de clientes
      </a>
      <a class="btn btn-success m-bottom-sm" href="/app/acerca/">
        <i class="fa fa-envelope"></i> Contáctame
      </a>
    </div>
  </div>
</div>
