<div class="input-group">
  <input type="text" class="form-control input-sm" placeholder="Escriba aqui para buscar...">
  <span class="input-group-btn">
    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
  </span>
</div>
