<div class="panel">
  <div class="panel-body">
    <a href="#" class="pull-left avatar">
      <img src="https://placekitten.com/g/80/80" class="img-circle" alt="User Avatar">
    </a>
    <div class="pull-left m-left-sm">
      <strong class="font-14 block">{{nombreCompleto}}</strong>
      <small class="text-muted">{{rfc}}</small>
      <div class="seperator"></div>
      <a href="/app/clientes/ver/{{id}}/" class="btn btn-xs btn-success">Ver perfil</a>
      <a class="btn btn-xs btn-danger">Eliminar</a>
    </div>
  </div>
</div>
