<div style="margin-top:50px">
	<div class="h4">Lista de clientes vacía</div>
	<h1 class="m-top-none error-heading">
    <i class="fa fa-user-times"></i>
  </h1>
	
	<h4>No se encontraron clientes disponibles</h4>
	<p>Cree su primer cliente haciendo click en el botón de abajo</p>
	<a class="btn btn-success m-bottom-sm" href="/app/clientes/nuevo/">
    <i class="fa fa-user-plus"></i> Crear nuevo cliente
  </a>
</div>
