<div class="main-header clearfix">
  <div class="page-title">
    <h3 class="no-margin">Lista de clientes</h3>
    <span>Todos los clientes registrados</span>
  </div><!-- /page-title -->
  
  <ul class="page-stats">
    <li>
      <div class="value">
        <span>Registrados</span>
        <h4>
          100 <small>clientes</small>
        </h4>
      </div>
    </li>
    <li>
      <a href="/app/clientes/nuevo/" class="btn btn-success btn-sm">
        <i class="fa fa-user-plus"></i><br />
        Nuevo
      </a>
    </li>
  </ul>
</div>

<div id="list-container"></div>
