<div class="main-header clearfix">
  <div class="page-title">
    <h3 class="no-margin">Lista de clientes</h3>
    <span>Todos los clientes registrados</span>
  </div>
  
  <ul class="page-stats">
    <li>
      <a href="/app/clientes/nuevo/" class="btn btn-success btn-sm">
        <i class="fa fa-user-plus"></i><br />
        Nuevo
      </a>
    </li>
  </ul>
</div>

<div id="list-container"></div>
