<div class="row">
  <div class="col-md-7">
    <h4>We'd Love to Hear From You, Lets Get In Touch!</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula.
    </p>

    <form class="contact-form">
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
      </div><!-- /form-group -->
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
      </div><!-- /form-group -->
      <div class="form-group">
        <label for="exampleInputEmail1">Quick Message</label>
        <textarea class="form-control" rows="7" placeholder="Message"></textarea>
      </div><!-- /form-group -->
      <button type="submit" class="btn btn-sm btn-success">Submit</button>
    </form>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h4>Contact info</h4>

    <address>
      <strong>Abiee Alejandro Echamea Márquez</strong><br/>
      Seleme 1975 interior 6<br/>
      Culiacán, Sinaloa<br/>
      <div class="seperator"></div>
      <strong>Phone : <span class="theme-font">(667) 235-8338</span></strong><br/>
      <strong>Email : <span class="theme-font">abiee.alejandro@gmail.com</span></strong><br/>
    </address>

    <hr/>

    <h4>Get Social</h4>
    <a href="#" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="social-connect tooltip-test google-plus-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
    <a href="#" class="social-connect tooltip-test rss-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Rss feed"><i class="fa fa-rss"></i></a>
    <a href="#" class="social-connect tooltip-test tumblr-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
    <a href="#" class="social-connect tooltip-test dribbble-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
    <a href="#" class="social-connect tooltip-test linkedin-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="social-connect tooltip-test pinterest-hover pull-left" data-toggle="tooltip" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>

  </div>
</div>
